* {
	margin: 0;
	padding: 0;
}

#container {
  
	background: url('../images/ZoomMeeting_ZOOM.png') no-repeat center;
	background-size: cover;
	height: 100vh;
  opacity: 0.8;
}

#h1Business {
  color: #ec793b !important;
  font-size: 50px;
  
}

form {
	height: 200px;
	display: block !important;
	background-image: linear-gradient(to bottom ,rgba(220,220,220, 0.5), rgba(47,79,79, 0.5));

}

label {
	margin-top: 10px;
	font-weight: bold;
}

#submitBtn {
	border-radius: 10px;
	margin-bottom: 20px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#loginForm {
	background: url('../images/Approved.jpg') no-repeat center;
	background-size: cover;
	height: 100vh;
}

#registerForm {
  background: url('../images/Approved.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
}