* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/proposal.jpg);
	position: center;	
}

#logo {
	width: 200px;
	background-color: darkorange;
	margin-top: 10px;
	margin-bottom: 30px;
}

.head {
	text-align: center;
	opacity: 1;
	color: white;
	padding: 20px;
}

#proposalsheet1 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet1:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propmediumofficeMECQ.jpg);
}

#proposalsheet4 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet4:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propmediumofficeMECQ.jpg);
}

#proposalsheet5 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet5:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propmediumretailfoodMECQ.jpg);
}

#proposalsheet6 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet6:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/proposalsmallretailfoodMECQ.jpg);
}

#proposalsheet7 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet7:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/proposalmediumretailnonfoodMECQ.jpg);
}

#proposalsheet8 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet8:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/proposalsmallretailnonfoodMECQ.jpg);
}

#proposalsheet9 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet9:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propmediumofficeGCQ.jpg);
}

#proposalsheet10 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet10:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propsmallofficeGCQ.jpg);
}

#proposalsheet11 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet11:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propsmediumretailfoodGCQ.jpg);
}

#proposalsheet12 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet12:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propsmallretailfoodGCQ.jpg);
}

#proposalsheet13 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet13:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propmediumretailnonfoodGCQ.jpg);
}

#proposalsheet14 {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
}

#proposalsheet14:hover {
	position: relative;
	display: block;
	width: 800px;
	margin-top: 350px;
	content: url(../images/propsmallretailnonfoodGCQ.jpg);
}


.head-intro {
	margin: auto;
	text-indent: 30px;
	width: 800px;
	color: dimgray;
	padding: 30px;
	background-color: white;
}