/*<<<<<<< HEAD*/
/* General Settings */

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

#display1 {
	padding-right: 600px;
}

#jumbotron1 {
	padding-left: 100px;
}

#navbarlogo {
	z-index: 1;
}


/* Carousel Text */

#carousel-text {
    color: white !important;
};

#carousel-subtext{
    color: white !important;
}

ul li {
	list-style-type: none;
}

footer a {
	color: white !important;
	text-decoration: none;
}

/*=======

<<<<<<< HEAD*/

link {
	position: absolute;
	text-decoration-style: none;
}
/*=======
>>>>>>> d9ed18d8c75835100b0b9669919bfb8af637514d
>>>>>>> 23bae08d10ccaccf585687d1aec149fd95c80b05*/
